<div style="text-align: center;">

    <img src="./assets/Asset_11.png" height="70px" width="70px" />
  <h4 style="font-size: 35px; font-weight:bold; cursor: default;">
    Anmol Vijayvargiya
  </h4>
  <hr style="width: 150px; margin:auto"/>
  <!-- <p class="subtitle is-6" style="font-family: 'Rajdhani', sans-serif;">{Developer}&#60;/Designer&#62;</p> -->
  <p class="subtitle is-5" style="font-family: 'Rajdhani', sans-serif;cursor: default; ">

    <span style="font-family: 'VT323', monospace;" id="developer"><span id="dev_d">D</span>eveloper</span>
    <span class="icon">
      <i class="fa fa-code"></i>
    </span id="designer">
    <span style="font-family: 'Patrick Hand SC', cursive;" id="designer"><span id="de">D</span><span id="es">e</span><span id="si">s</span><span id="ig">i</span><span id="gn">g</span><span id="ne">n</span><span id="er">e</span><span id="r">r</span>
    </span>

  </p>
</div>
