<br />
<div>{% include summary.html %}</div>



<div>

  {% for project in site.data.projects %}<div class="container">
    <a href="{% if project.link == null %} {% else %} {{project.link}} {% endif %}"><img src="{{project.image}}" alt="Avatar" class="projectImage" ></a>
    <div class="overlay">
      <div class="overlayText">
        <div class="projectTitle">{{project.title}}</div>
          <a class="footerAnchor" href="{{project.github}}">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a>
        <a  class="viewSourceButton"  href="{{project.github}}">Source</a><br />
        {% for item in project.technologies%} {{item}} &nbsp;{%endfor%}


      </div>
    </div>

  </div>{% endfor %}

</div>
