.masterFooter{
  .sayHi{
    font-family: 'Patrick Hand SC', cursive;
      font-size:20px;
    .footerHi{
      // color:#ff1a1a;
      // color:#ff0066;
      // color: #66b3ff;
      // color: #ff4d4d;
      color: #b3b3b3;
    }
  }
  .footerLi {
    display: inline-block;
    .fa{
      color: #ff4d4d;
      color: #66b3ff;
      transition: all 0.6s ease;
      transform: scale(1.3);
    }
  	&:hover {
  		.fa {
  			transform: scale(2);
  		}
  	}
    .footerAnchor{
      color: grey; display: block; padding: 10px 2.3vw;
    }
  }
  .footerMail {
    font-size: 16px;
  }
  .resumeButton{
    background-color: #FFFFFF;
    border: 1px solid grey;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.698) inset, 0 1px 0 0 rgba(0, 0, 0, 0.075);
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 0 10px 0;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.resumeButton:hover {
    // background-color: #F6F6F6;
    outline: medium none;
}
.resumeButton:focus{
    outline: medium none;
}
.resumeButton:active, .resumeButton.active{
    background-color: #DDDDDD;
    transform: scale(0.99);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075) inset;
    outline: medium none;
    transition: none 0s ease 0s;
}
}
