#projects{
  font-size: 30px;
  padding-bottom: 20px;

}
.projectTitle{
  font-size:20px; font-weight:bold;
}
.container {
  transition: .5s ease;
  position: relative;
  width: 40%;
  display: inline-block;
  margin: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
  .projectImage { display: block; width: 100%; height: 300px; filter: brightness(97%);}
  &:hover{
    .overlay { height: 35%; };
    // .projectImage{ filter: brightness(100%); };
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  };
  .overlay { position: absolute; bottom: 0; left: 0; right: 0; background-color: #00e6b8; overflow: hidden; width: 100%; height: 35%; opacity: 0.94; transition: .5s ease;
    .overlayText { color: red; font-size: 13px; position: absolute; overflow: hidden; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);};
  };
}

@media screen and (max-width: 1000px){
          .container {
          position: relative;
          width: 100%;
          display: inline-block;
          margin: 10px auto;
          }
          .projectImage {
          display: block;
           width: 100%;
           height: 300px;
           filter: brightness(90%);

          }
          .container:hover .projectImage{
          filter: brightness(100%);
          }
          .container{
          box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
          }
          .overlayText {
            /*white-space: nowrap;*/
            color: white;
            font-size: 13px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            font-family: 'Patrick Hand SC', cursive;
            }
    }
