.whatDiv{ font-size: 30px; font-weight: lighter;  }
.whatSpan{ transition: all 0.3s ease; padding: 7px; font-weight: bold;
  // color: #00e6b8;
  &:hover{ opacity:1; cursor: pointer; color: #66b3ff; }}

$subtractVh: 75vh;
.whatTextContainer{ margin:auto; max-width:400px;
  min-height: calc(100vh - #{$subtractVh});}

.activeWhat{ opacity: 1; color: #66b3ff;}


.whatText{
  font-size: 20px;
  color: #b3b3b3;
}



@media screen and (max-width: 600px){
  .whatLinkContainer {
    width: 300px;
    margin: auto;
  }
  .whatDiv{
    font-size: 27px;
  }
}

// @media screen and (max-width: 400px){
//   .whatDiv{
//     font-size: 27px;
//   }
//   .whatLinkContainer {
//     width: 310px;
//     margin: auto;
//   }
// }
