<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anmol Vijayvargiya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include headImports.html %}
  </head>


  <body class="site">
      <!-- HEADER -->
      {% include masterHeader.html %}
      <!-- CONTENT FROM CHILD -->
      <main class="site-content ">{{content}}</main>
      <!-- FOOTER -->
      {% include masterFooter.html %}
      <!-- JQUERY -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      <!-- WHAT SCRIPT -->
      <script src="./js/what.js"></script>
    </body>
</html>
